body 
{
    background-color: #000000;
    color: #000000;
    font-family: Arial;
}

h1
{
    color: grey;
    font-family: Verdana;
}

.maindiv
{
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* #result
{
    display: none;
} */

.contents
{
    margin-left: 80px;
}

table,tr,td{
    font-size: 18px;
    
    padding: 0px 10px 10px 10px;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}
#principal{
    height: 25px;
    width: 190px;
}

#years{
    height: 35px;
    width: 200px;
}


.labels
{
    width: 120px;
}

.highlight
{
    background-color: #ffff00;
}
footer{
    margin: 0 auto;
    padding: 0px 0px 10px 50px;
    text-align: left;
}
span {
    text-align: center;
}
@media only screen and (max-width: 780px)  {
    body{
        margin: 0 auto;
    }
    div{
        margin: 0 auto;
    }
    div,table,tr,td{
        display: flex;
        flex: 1 1 0;
    }
}